@charset "utf-8";
/* CSS Document */

body { font-size:12px; font-family:SimSun; color:#2b2b2b;}
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0; list-style:none;}
img { border:none;}
a { text-decoration:none; color:#252525;}
a:hover { text-decoration:underline; color:#d00005;}

h5 { font-weight:normal;}
h5 em { font-style:normal; color:#93090F; margin:0 5px; display:inline-block;}
h5 em a { color:#93090F; margin:0 2px;}

/***** ͼƬ�������� *****/
.btnSear ,.hdBtnLog { background:url(http://himg2.huanqiu.com/statics/hq2013/images/common/btn.png) no-repeat;}
.hd ,.hdNavOut ,.otNav ,.foot ,.footOut ,.fLogo { background:url(http://himg2.huanqiu.com/statics/hq2013/images/common/repBg.png) repeat-x top;}
.loading { background:url(http://himg2.huanqiu.com/statics/hq2013/images/common/loading.gif) no-repeat;}
.loadingStop { background:url(http://himg2.huanqiu.com/statics/hq2013/images/common/loadingStop.gif) no-repeat;}
.iconHome ,.iconNew { background:url(http://himg2.huanqiu.com/statics/hq2013/images/common/icon.png) no-repeat;}
.page a ,.page .a1lNum ,.page .a1lNum:hover ,.page .a1 ,.page .a1:hover ,.page .cur ,.page a:hover ,.page em ,.pageBox em ,.pageBox a ,.pageBox .a1lNum ,.pageBox .a1lNum:hover ,.pageBox .a1 ,.pageBox .a1:hover ,.pageBox .cur ,.pageBox a:hover ,.pageBox em ,.pageBox em ,.pageBox .lookMore ,.pageBox .lookMore:hover { background:url(http://himg2.huanqiu.com/statics/hq2013/images/common/btnPage.png) no-repeat;}
#topPublic .iconRoll ,#topPublic .iconRank ,#topPublic .iconRssYe ,#topPublic .iconMsg { background:url(http://himg2.huanqiu.com/statics/hq2013/images/common/icon1.png) no-repeat;}
#user .menu .menu-tips .menu-msg ,#user .menu-tips .menu-msg {background: url(http://himg2.huanqiu.com/statics/hq2013/images/common/icon2.png) no-repeat transparent;}
.hdMain .logArr { background:url(http://himg2.huanqiu.com/statics/hq2013/images/common/headIndex.png) no-repeat;}
.dotLineBot { background:url(http://himg2.huanqiu.com/statics/hq2013/images/common/dot.png) bottom repeat-x;}
.footNew { background:url(http://himg2.huanqiu.com/statics/hq2013/images/common/footBgNew.png) repeat-x;}

/***** �������� *****/
.wrap {}
.wrapCon { width:970px; margin:0 auto; background:#fff;}
.logBox { height:25px; overflow:hidden;}
.navAll { height:60px; overflow:hidden;}
.channelTop { height:66px; overflow:hidden;}
.channelNav { height:35px; overflow:hidden;}
.clearIt { clear:both; height:0; line-height:0; font:0; margin:0; padding:0; display:inline;}
.iconHome ,.iconNew { background-position:0 -17px; display:inline-block; width:16px; height:16px; float:left; padding:0;}
.iconNew { background-position:0 -64px; width:25px; position:absolute; left:118px; top:0;}

/***** ����ͷ *****/
.hd { height:25px; overflow:hidden;}
.hdMain { width:970px; height:25px; line-height:25px; margin:0 auto; color:#516e8f;position:relative;/*20110113 ���position:relative*/}
.hdMain a { height:25px; line-height:25px; color:#516e8f; text-decoration:none; margin:0 5px;_margin:4px 5px 0; display:inline-block;}
.hdMain a:hover { color:#ef2611; text-decoration:underline;}
.hdMain .hdLeft { float:left; text-align:left; width:650px; color:#516e8f;}
.hdMain .hdLeft img {vertical-align:middle;position:relative;top:-2px;*top:2px;_top:-4px;}
.hdMain .hdLeft a { _margin-top:0;}
.hdMain .hdRight { float:right; text-align:right; color:#516e8f; padding-right:10px;_margin:-4px 0 0;/*20110113 ȥ���� width:300px;*/}
.hdMain .hdRight img { width:16px; height:16px;}
.hdMain .drop { background-position:0 -154px; width:105px; color:#e7ebef; text-indent:15px;}
.hdMain .drop a:hover { text-decoration:none;}
.hdMain .hdBtnLog { border:none; width:44px; height:21px; line-height:21px; color:#e8edf2; font-size:12px; text-align:center; padding:0; margin:0;float:none;/*20120116 add float:none*/ }
.hdMain .hdBtnLog:hover { color:#e8edf2; text-decoration:none;}
.hdMain .logArr { background-position:-170px -154px; width:12px; height:16px;_height:20px; display:inline-block; float:left;}
.hdMain .logRegist { height:25px; line-height:25px; color:#516e8f; text-decoration:none; margin:0 5px; display:inline-block; float:left ;/*20120116 add float:none*/}

/*����ͷ �ض��� 20120802*/
.otNav { background-position:0 -381px; height:60px; overflow:hidden;}
.otNavMain { width:970px; margin:0 auto; font-size:14px; color:#e7ecf1 !important; height:60px; line-height:23px; display:block;}
.otNavMain a { font-size:14px; color:#fff !important; margin:0 10px; text-decoration:none;}
.otNavMain a:hover { text-decoration:underline;}
.otNavMain ul { height:59px; overflow:hidden;}
.otNavMain li { background:url(http://himg2.huanqiu.com/statics/hq2013/images/common/navAllDetail.png) no-repeat 0 9px; float:left; text-align:center; height:59px; display:inline;}
.otNavMain dl { margin:7px 0 0; }
.otNavMain dt { height:23px; line-height:23px;}
.otNavMain .pA { width:238px; margin-left:73px; background:none !Important;}
.otNavMain .pB { width:220px;}
.otNavMain .pC { width:173px;}
.otNavMain .pD { width:200px; border:none !important;}
.otNavMain .weather { width:230px; margin:0 !important; border:none !important;}

/***** ��¼ *****/
#user {background: url(http://himg2.huanqiu.com/images/public/user-bg.png) repeat-x scroll 0 0 transparent;}
#user .wrap {margin: 0 auto;width: 960px;position:relative;/*20110113 ���position:relative*/}
#user .menu,#user #menu {font-size: 12px;height: 25px;}
#user .menu img,#user #menu img {border: 1px solid #FFFFFF;float: left;height: 16px;margin-left: 10px;margin-top: 4px;width: 16px; _padding-top:3px;}
#user .menu a ,#user .menu-tips a {color: #516E8F; margin:2px 0 0 15px;float:left;line-height: 21px;line-height: 21px\9;_line-height: 29px;/*�������Ը�������� line-height*/}
/*�¼�i start*/
#user .menu i ,#user .menu-tips i {color: #516E8F;margin-left: 15px;float:left; font-style:normal;/*begain*/ _padding-top:4px;line-height: 25px;line-height: 28px\9;_line-height: 25px;/*end*/}
/*�¼� i end*/
/*p����hdLeft*/
#user .menu p {left: 0;position: absolute;top: 0;}
#user .menu p .home {/*background: url(../../images/home.png) no-repeat scroll 0 3px transparent;*/padding-left: 15px;}
#user .menu p .map {/*background: url(../../images/map.png) no-repeat scroll 0 3px transparent;*/padding-left: 15px;}
/*p����hdLeft */ /*20110113*/
#user .menu .menu-tips ,#user .menu-tips { position: absolute;right: 0;top: 0;}
.menu-tips { text-align:right;}
#user .menu .menu-tips .menu-msg ,#user .menu-tips .menu-msg {font-family: "����";margin-left: 10px;padding-left: 15px; background-position:0 0;background-position:0 0\9;_background-position:0 7px;  }
#user .menu .menu-tips .menu-msg i,#user .menu-tips .menu-msg i {color: #990102;font-family: Arial,Helvetica,sans-serif;float:none;margin:0;}
.hdBtnLog { background-position:-70px 0;_background-position:4px; color:#fff !important;}

/***** Ƶ��ͷ *****/
.top { width:970px; margin:0 auto; height:66px;}
.topMain { width:950px; margin:0 auto; height:67px; overflow:hidden;}
.top .topLeft { width:360px; float:left; margin:21px 0 0; *margin:24px 0 0;_margin:24px 0 0; display:inline; text-align:left;}
.top .topLeft a { margin:0 5px 0 0;}
.top .topRight { width:305px; float:right; margin:26px 15px 0 0; text-align:right; display:inline;}
.top .inputBox { width:230px;border-top:#cccccc 1px solid;border-right:none;border-bottom:#cccccc 1px solid;border-left:#cccccc 1px solid; color:#7c8081; height:26px; line-height:26px; font-size:14px; float:right; background:#fff; text-indent:5px;}
.logoChannel { width:220px; height:66px; display:inline-block; float:left;}
.btnSear { font-size:14px; color:#fff; width:67px; height:28px; line-height:28px; border:none; text-align:center; padding:0 0 2px; padding:1px 0 0\9; padding:2px 0 0\0; margin:0 0 0 0; font-weight:normal; text-indent:3px;*text-indent:2px;_text-indent:2px; letter-spacing:3px; text-indent:-9999px; cursor:pointer; float:right;}
/**/
#topPublic .iconRoll ,#topPublic .iconRank ,#topPublic .iconRssYe ,#topPublic .iconMsg { width:16px; height:20px; display:inline-block; margin-right:3px; padding:0 !important;}
#topPublic .iconRoll { background-position:0 -734px;*background-position:0 -737px; width:14px; position:relative; top:5px;}
#topPublic .iconRank { background-position:0 -757px;*background-position:0 -760px; width:14px; position:relative; top:5px;}
#topPublic .iconRssYe { background-position:0 -784px;*background-position:0 -787px; width:14px; position:relative; top:5px;}
#topPublic .iconMsg { background-position:0 -811px;*background-position:0 -814px; width:16px; position:relative; top:5px;}

/***** Ƶ������ *****/
.navChannel { height:45px; text-align:center; width:970px; margin:0 auto; overflow:hidden;}
.navChannel a { color:#fff; font-size:14px; height:35px; line-height:35px; padding:0 13px;_padding:0 12px; font-weight:bold; display:inline-block; margin:0 -4px; position:relative;}
.navChannel em { background-position:-2px -155px; display:inline-block; width:2px; height:35px; position:absolute; right:0; bottom:0;}
.navChannel a:hover ,.navChannel .cur { z-index:99; zoom:1; text-decoration:none; color:#fff;}
.navChannel a:hover em ,.navChannel .cur em { width:0;}
.navChannel em { display:inline-block; width:2px; height:35px; position:absolute; right:0; bottom:0;}
.navChannel .noLine { background:none;}
.navChannel .noLine em { width:0;}
.navChannel a:hover ,.navChannel .cur { z-index:0; zoom:1; text-decoration:none; color:#fff;}
.navChannel a:hover em ,.navChannel .cur em { width:0;}

/***** ��ҳ *****/
.pageBox { text-align:center; padding:28px 0 25px; margin:0 auto; clear:both; display:block; height:30px; overflow:hidden; color:#2b2b2b;}
.pageBox a { background-position:-180px 0; display:inline-block; border:none; width:30px; height:30px; line-height:30px; padding:0; margin:0 5px; font-family:Arial,Simsun; font-size:14px; color:#2b2b2b; overflow:hidden;}
.pageBox a:hover { background-position:-180px -80px; padding:0; border:none; color:#2b2b2b;}
.pageBox .a1lNum ,.pageBox .a1lNum:hover ,.pageBox .lookMore{ background-position:0 0; width:70px; color:#8b8b8b; cursor:default; text-decoration:none;}
.pageBox .a1 { width:70px; background-position:-100px 0; *margin-bottom:1px;}
.pageBox .a1:hover { background-position:-100px -80px;}
.pageBox .curA1 { background-position:-100px -40px; color:#fff;}
.pageBox .cur ,.pageBox .cur:hover { background-position:-180px -40px; color:#fff;}
.pageBox .lookMore { background-position:0 -120px; width:140px; height:35px; line-height:35px;}
.pageBox .lookMore:hover { background-position:0 -120px; cursor:pointer}
.pageBox em { background-position:-180px -40px; color:#fff; display:inline-block; width:30px; height:30px; line-height:30px; font-family:Arial,Simsun; font-size:14px; margin:0 5px 10px; vertical-align:top; overflow:hidden;/*zoom:1;*display:inline;*/ font-style:normal;}


/***** ���м *****/
.location { width:970px; margin:0 auto; text-align:left; text-indent:10px; color:#537197; padding:10px 0 10px; display:block;}
.location em { margin:0 4px; color:#537197; font-style:normal;}
.location strong { font-weight:normal; color:#000;}
.location a { color:#393939;}
.location a:hover { color:#820C0C;}

/***** β�� *****/
.footer { /*height:274px; overflow:hidden;*/}
.foot { /*background-position:0 -118px; background-repeat:repeat-x;*/ height:248px;}
.footOut { background-position:0 -118px;}
.fother { width:970px; margin:0 auto; color:#fff;}
.fother li { position:relative;}
/**/
.fother { width:970px; height:215px; line-height:22px; overflow:hidden; text-align:left;}
.fother li { padding:20px 20px 0; float:left;}
.fother li.fir { width:316px; _width:324px;}
.fother li.sec { width:359px;}
.fother li.last { width:180px; margin:0; padding-right:0;}
.fother h3 ,.fother dt ,.fother a { color:#e7ecf1; text-align:left;}
.fother h3 { font-size:14px; font-weight:bold; border-bottom:#bbcfe6 1px solid; display:inline; padding:0 25px 8px 0; *padding:0 25px 7px 0; text-indent:3px;}
.fother dl { margin:8px 0 25px;margin:8px 0 24px;}
.fother a { padding:0 2px; margin:0 5px 0 0; text-decoration:none; display:inline-block; text-indent:0;}
.fother a:hover { background-color:#ead812; color:#3585e3;}
.fother .iconArea a:hover { background-color:none;}
/**/
.fLink { background:#d1d1d1; height:37px; text-align:center; color:#333; font-size:14px;}
.fLink a { color:#000; text-decoration:none; font-size:14px; height:32px; line-height:32px; margin:0 10px; font-family:"����";}
.fLink a:hover { color:#820C0C; text-decoration:underline;}
.flinkMain { width:960px; margin:0 auto; height:35px; line-height:38px; border-bottom:#bdc7d0 2px solid;}
.fLink .marWid a,.fLink .marWidMain a { margin:0 9px; text-indent:0;}
/**/
.copyArea { background:#d2d2d2; line-height:46px;}
.copyMain { width:950px; margin:0 auto; text-align:center; color:#033d63;}
.copyLine { border-bottom:#bdc7d0 2px solid;}
.copyMain a { color:#365071; margin:0 5px; display:inline-block;}
.copyMain a:hover { text-decoration:underline;}
.copyMain em {  margin-left:50px; font-style:normal;}
.copyMain li { text-align:center; padding-bottom:20px; color:#516e8f;}
.copyMain dl { padding:20px 0; height:70px;}
.copyMain dt { float:left; margin-left:10px; text-align:left; color:#516e8f; width:300px;}
.copyMain dt a ,.copyMain dd a { text-decoration:none; margin:0;}
.copyMain dd { width:330px; text-align:left; float:left;}
.copyMain .las { width:270px;}


/***** β���� *****/
.footNew { /*background-position:0 -118px; background-repeat:repeat-x;*/ height:275px;}
.footOutNew { background-position:0 -118px;}
.fotherNew { width:970px; margin:0 auto; color:#fff;}
.fotherNew li { position:relative;}
/**/
.fotherNew { width:970px; height:191px; line-height:22px; overflow:hidden; text-align:left;}
.fotherNew li { padding:30px 20px 0 60px; float:left;}
.fotherNew li.fir { width:316px; _width:324px;}
.fotherNew li.sec { width:185px;}
.fotherNew li.last { width:180px; margin:0; padding-right:0;}
.fotherNew h3 ,.fotherNew dt ,.fotherNew a { color:#e7ecf1; text-align:left;}
.fotherNew h3 { font-size:14px; font-weight:bold; border-bottom:#bbcfe6 1px solid; display:inline; padding:0 25px 8px 0; *padding:0 25px 7px 0; text-indent:3px;}
.fotherNew dl { margin:20px 0 25px;}
.fotherNew dt { position:relative;}
.fotherNew dt em { color:#fff; margin-right:8px;}
.fotherNew a { padding:1px 2px; margin:0 5px 0 0; text-decoration:none; display:inline-block; text-indent:0; font-family:"����";}
.fotherNew a:hover { background-color:#ead812; color:#3585e3;}
.fotherNew .iconArea a:hover { }
.fotherNew .widSmall {}
.fotherNew .widBig {}
.fotherNew .box1 { float:left; width:90px;}
.fotherNew .box2 { float:left; width:115px;}
.fotherNew .box3 { float:left; width:80px;}

/**/
.fLogo { background-position:0 -496px; text-align:center; height:50px;}
.fLogo a { display:inline-block; text-decoration:none; height:49px; margin-right:30px;}
.logoRenM { width:105px;}
.logoRmW { background-position:-134px 0; width:85px;}
.logohqShib { background-position:-259px 0; width:100px;}
.logoGlobal { background-position:-397px 0; width:66px;}
.logoShengM { background-position:-507px 0; width:95px;}
.logoFengC { background-position:-627px 0; width:140px;}
.logoHqRenW { background-position:-785px 0; width:85px;}
/**/
.fLink { background:#d1d1d1; height:37px; text-align:center; color:#333; font-size:14px;}
.fLink a { color:#000; text-decoration:none; font-size:14px; height:32px; line-height:32px; margin:0 10px; font-family:"����";}
.fLink a:hover { color:#820C0C; text-decoration:underline;}
.flinkMain { width:960px; margin:0 auto; height:35px; line-height:38px; border-bottom:#bdc7d0 2px solid;}
.fLink .marWid a,.fLink .marWidMain a { margin:0 9px; text-indent:0;}

/**/
.copyArea { background:#d2d2d2; line-height:46px;}
.copyMain { width:950px; margin:0 auto; text-align:center; color:#033d63;}
.copyLine { border-bottom:#bdc7d0 2px solid;}
.copyMain a { color:#365071; margin:0 5px; display:inline-block;}
.copyMain a:hover { text-decoration:underline;}
.copyMain em {  margin-left:50px;}
.copyMain li { text-align:center; padding-bottom:20px; color:#516e8f;}
.copyMain dl { padding:20px 0; height:70px;}
.copyMain dt { float:left; margin-left:10px; text-align:left; color:#516e8f; width:300px;}
.copyMain dt a ,.copyMain dd a { text-decoration:none; margin:0;}
.copyMain dd { width:330px; text-align:left; float:left;}
.copyMain .las { width:270px;}

/**/
.footGrayMain { background:#666;}
.footGrayMain .fLink { background:none; height:37px; text-align:center; color:#b0b0b0; font-size:14px;}
.footGrayMain .fLink a { color:#b0b0b0; text-decoration:none; font-size:12px; height:32px; line-height:32px; margin:0 10px; font-family:"����";}
.footGrayMain .fLink a:hover { color:#b0b0b0; text-decoration:underline;}
.footGrayMain .flinkMain { width:960px; margin:0 auto; height:35px; line-height:38px; border-bottom:none;}
.footGrayMain .fLink .marWid a,.fLink .marWidMain a { margin:0 9px; text-indent:0;}
.footGrayMain .copyArea { line-height:16px;}
.footGrayMain .copyMain ,.footGrayMain .copyMain a { color:#b0b0b0;}
.footGrayMain .foot ,.footGrayMain .footOut ,.footGrayMain .copyArea { background:none;}
.footGrayMain .foot { height:65px;}

/***** �鿴���� *****/
.seeMore ,.loadBox { display:block; clear:both; text-align:center; margin:35px auto 25px;}
.seeMore{display:none;}
.seeMore a { display:inline-block; background:#efefef; border:#e2e2e2 1px solid; color:#949494; height:26px; line-height:26px; padding:0 30px;}

/***** ������ *****/
.loading ,.loadingStop { display:inline-block; width:128px; height:15px; margin:0 10px;}

/***** ��� *****/
.adDt { padding:7px 0 0; clear:both; width:970px; clear:both; overflow:hidden; text-align:center;}
.ad { clear:both; width:970px; clear:both; overflow:hidden; text-align:center;}
.ad468x90 { clear:both; width:468px; clear:both; overflow:hidden; text-align:center;}
.ad468x60 { clear:both; width:468px; clear:both; overflow:hidden; text-align:center;}
.adNo { display:none; height:0; line-height:0; font:0; margin:0; padding:0; display:inline; overflow:hidden;}


/*���� 1154*/
#logoChannel_1154 {background:  no-repeat !important;width: 220px;}

/*********** Ƶ������ͼ ************/
.focusAll { background:#fff url(http://himg2.huanqiu.com/statics/images/loading.gif) center no-repeat;}
.focusAll .bgGray, #allFocus ul.focusAllList li p, .litImgList li p { background: url("http://himg2.huanqiu.com/statics/hq2013/images/index/bgFocus.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);}
#allFocus .ui-ifPrevBtn {}
#allFocus .ui-ifNextBtn { }
.litImgList .ui-ifPrevBtn {}
.litImgList .ui-ifNextBtn {}

/**/
.focusAll { width:560px; height:315px; position:relative; overflow:hidden; float:left;}
.imgBoxFocus{ position:absolute;left:0;top:0;display:none;z-index:99;}
.imgBoxFocus:hover { text-decoration:none;}
.imgBoxFocus p { font-family:Microsoft YaHei,SimSun; font-size:14px; color:#fff; display:inline-block; position:absolute; left:10px; top:10px; margin:0 10px 0 0;z-index:1;}
.imgBoxFocus em { background:#d78000; font-family:Microsoft YaHei,SimSun; font-size:12px; color:#fff; font-style:normal; text-decoration:none; position:absolute; right:0; bottom:0; display:inline-block; height:21px; line-height:21px; padding:0 5px;z-index:1;}
.imgBoxFocus .imgBoxBg{position:absolute;background:#2b5381;z-index:0;}
/**/
#allFocus{display: none;}
#allFocus img { width:560px; height:315px;}
#allFocus .ui-ifPrevWrap,#allFocus .ui-ifNextWrap{position:absolute;z-index:1;bottom:80px;}
#allFocus .ui-ifPrevWrap .ui-prevImg ,#allFocus .ui-ifNextWrap .ui-nextImg { display:none;}
#allFocus .ui-ifPrevWrap ,#allFocus .ui-ifNextWrap { background:rgba(0,0,0,0.5) none repeat scroll 0 0 !important;filter: progid:DXImageTransform.Microsoft.gradient(enabled = 'true', startColorstr = #64000000, endColorstr = #64000000); width:34px; height:56px; padding:7px 0; overflow:hidden;}
#allFocus .ui-ifPrevWrap{left:0;}
#allFocus .ui-ifNextWrap{right:0;}
#allFocus .ui-ifPrevBtn ,#allFocus .ui-ifNextBtn{ display:inline-block; width:34px; height:56px; text-indent:-1000px; overflow:hidden;}
#allFocus .ui-ifPrevBtn { float:left;}
#allFocus .ui-ifNextBtn { float:right;}
#allFocus .cur { background:rgba(0,0,0,0.8) none repeat scroll 0 0 !important;filter: progid:DXImageTransform.Microsoft.gradient(enabled = 'true', startColorstr = #64000000, endColorstr = #64000000); width:140px;}
#allFocus .cur .ui-prevImg ,#allFocus .cur .ui-nextImg { display:inline-block; width:100px; height:56px;}
#allFocus .cur .ui-prevImg { float:left;}
#allFocus .cur .ui-nextImg { float:right;}
#allFocus .focusAllCon{width:560px;height:315px;overflow:hidden;position:relative;z-index:0;}
#allFocus ul.focusAllList{position:absolute;z-index:0;left:0;top:0;}
#allFocus ul.focusAllList li{width:560px;height:315px;position:relative;z-index:0;}
#allFocus ul.focusAllList li p { position:absolute; left:0; bottom:0; display:block; width:100%; height:60px; line-height:60px; color:#fff; text-indent:20px; font-family:Microsoft YaHei,SimHei; font-size:22px;}
#allFocus ul.focusAllList li #allFocus p { position:absolute;bottom:30px;color:#fff;width:100%;height:40px;line-height:40px;font-size:18px;text-indent:20px;}
#allFocus .indexFocusNum { position:absolute;z-index:99;right:10px;bottom:10px;}
#allFocus .indexFocusNum a {float:left;margin:0 5px; display:inline-block; width:10px; height:10px; background:#eee; text-indent:-100px; overflow:hidden;}
#allFocus .indexFocusNum .hover { background:#4c99e8;}

/*********** Ƶ������ͼNEW ************/
#foucsBox { margin:0 auto; padding:0; width:560px; height:315px; overflow:hidden; zoom:1; position:relative; }
#foucsBox .imgCon { width:560px; height:315px; margin:0; padding:0; position:relative; list-style:none; }
#foucsBox .imgCon li { float:left; width:560px; height:315px; position:relative;}
#foucsBox .imgCon li img { border:0; }
#foucsBox .imgCon li .imgTitle { width:550px; position:absolute; left:0; bottom:0; text-align:left; z-index:2; text-indent:20px;}
#foucsBox .imgCon li .imgTitle a { display:block; width:100%; height:60px; overflow:hidden; line-height:50px; color:#fff; text-indent:20px; font-family:Microsoft YaHei,SimHei; font-size:22px; zoom: 1; }
#foucsBox .showPage { background:url(http://himg2.huanqiu.com/statics/hq2013/images/index/bgFocus.png) no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='http://himg2.huanqiu.com/statics/hq2013/images/index/bgFocus.png');_background: none; position:absolute; left:0; bottom:0; z-index:1; width:560px; height:60px;}
#foucsBox .foucs {  position:absolute; right:10px; bottom:10px; z-index:3;}
#foucsBox .foucs span { display:inline-block; width:10px; height:10px; margin:0 5px; line-height:0; font-size:0; cursor: pointer; overflow: hidden; background:#eee;}
#foucsBox .foucs span.f { background:#4c99e8; }
#foucsBox .foucsButton { background:rgba(0,0,0,0.5) none repeat scroll 0 0 !important;filter: progid:DXImageTransform.Microsoft.gradient(enabled = 'true', startColorstr = #64000000, endColorstr = #64000000); width:34px; height:56px; padding:7px 0; margin-top:-150px; position:relative; z-index:4; }
#foucsBox .foucsButton span { display:inline; width:34px; height:56px; cursor:pointer; overflow:hidden;}
#foucsBox .foucsButton img { display:none; cursor:pointer; border-width:0px; vertical-align:middle; width:100px; height:56px; }
#foucsBox .lBtn { float:left; }
#foucsBox .lBtn span { float:left; background:url(http://himg2.huanqiu.com/statics/hq2013/images/index/arrLeftFocus.png) no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='http://himg2.huanqiu.com/statics/hq2013/images/index/arrLeftFocus.png');_background: none; }
#foucsBox .lBtn img { float:left;}
#foucsBox .rBtn { float:right; }
#foucsBox .rBtn span { float:right; background:url(http://himg2.huanqiu.com/statics/hq2013/images/index/arrRigFocus.png) no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='http://himg2.huanqiu.com/statics/hq2013/images/index/arrRigFocus.png');_background: none; }
#foucsBox .rBtn img { float:right;}
#foucsBox .btnHover { background:rgba(0,0,0,0.8) none repeat scroll 0 0 !important; filter: progid:DXImageTransform.Microsoft.gradient(enabled = 'true', startColorstr = #90000000, endColorstr = #9000000); width:140px;}
#foucsBox .btnHover img { display:inline; }