@charset "utf-8";

/* CSS Document */

.wrapper {
    width: 1020px;
    margin: 0 auto;
}


/*header部分**************/

header {
    background: #ccc;
}

header .header {
    display: flex;
    width: 1020px;
    justify-content: space-between;
}

header .header>a {
    background: pink;
    height: 50px;
}

header .header>a img {
    width: 100px;
    height: 50px;
    display: block;
}

header .header ul {
    display: flex;
}

header .header ul li {
    display: flex;
    background: greenyellow;
}


/* header .header ul li a {} */


/* header .header ul li a img {} */

header .header ul li input {
    width: 50px;
    height: 50px;
}


/* header .header ul li input:hover{

} */


/*nav部分********/

nav {
    background: #f00;
}


/* nav .nav {} */

nav .nav ul {
    display: flex;
}

nav .nav ul li {
    height: 50px;
    font: 20px/50px "";
    flex: 1;
}

nav .nav ul li:nth-last-of-type(1) a {
    color: rebeccapurple;
}

nav .nav ul li a {
    color: #fff;
}


/*section开始了************/

section {}

section .section {}


/* section .section .main1 开始了******************************************** */

section .section .main1 {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

section .section .main1 .banner {
    position: relative;
    background: green;
    overflow: hidden;
    width: 720px;
}

section .section .main1 .banner ul {
    display: flex;
    height: 405px;
    width: 3600px;
}


/* section .section .banner ul li {} */

section .section .main1 .banner ul li img {
    /* width: 400px; */
    width: 720px;
    height: 405px;
    display: block;
}

section .section .main1 .banner .ctrl_box {
    width: 571px;
    position: absolute;
    top: 179px;
    display: flex;
    justify-content: space-between;
}

section .section .main1 .banner .ctrl_box span {
    float: left;
    color: red;
    width: 20px;
    height: 20px;
    background: rgba(188, 143, 143, 0.664);
    text-align: center;
    font: 20px/20px "";
    cursor: pointer;
}

section .section .main1 dl {
    width: 500px;
    /* background: pink; */
    padding-left: 50px;
}

section .section .main1 dl dt {
    color: #595855;
    font: 800 24px/36px "楷体";
}

section .section .main1 dl dd {
    color: #595855;
    font: 16px/16px "楷体";
}


/* section .section .main1 dl dd:hover {
    color: pink;
} */


/* section .section .main2 开始了******************************************** */

section .section .main2 {
    /* background: greenyellow; */
}

section .section .main2>ul {
    display: flex;
}

section .section .main2>ul>li {
    flex: 1;
    margin: 20px;
}

section .section .main2>ul>li h2 {
    color: #f00;
}


/* section .section .main2>ul>li p {}

section .section .main2>ul>li>ol {}

section .section .main2>ul>li>ol li {} */


/* section .section .main3 开始了******************************************** */

section .section .main3 {
    display: flex;
    justify-content: space-between;

    flex-flow: row wrap;
    /* align-items: center; */
}

section .section .contentdiv{
    width: 1200px;
    height: 537px;
    float: left;
    display: block;
}

section .section .main3 .minnav {
    display: flex;
    /* background: #ccc; */
    width: 800px;
}

section .section .main3 .minnav li {
    width: 68px;
    height: 72px;
    text-align: center;
    line-height: 50px;
}

section .section .main3 .minnav li a {
    color: orange;
}

section .section .main3 .minnav li:nth-of-type(1) a {
    color: red;
    font-size: 30px;
}

section .section .main3 .leftphoto{
    padding-top: 18px;
    height: 264px;
}

section .section .main3 .leftphoto img{
    border: 0;
    width: 340px;
    height: 227px;
    overflow: hidden;
    border-radius: 2px;
}

section .section .main3 .photo {
    /* background: chartreuse; */
}

section .section .main3 .photo li {}

section .section .main3 .news {
    margin: 0 20px;
    width: 426px;
    padding-left: 40px;
    float: left;
    /* background: #999; */
}




/* section .section .main3 .news .new1 {} */

section .section .main3 .news .new1 dd {
    font: 18px/18px "";
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    width: 426px;
}

section .section .main3 .news h2 {
    font-size: 22px;
    color: #cd0001;
    font-weight: normal;
}


/* section .section .main3 .news .new1 dd {}

section .section .main3 .news .new2 {} */

section .section .main3 .news .new2 dd {
    font: 18px/18px "";
    height: 38px;
    line-height: 38px;
    font-size: 16px;
}

section .section .main3 .news .new2 dd {}

section .section .main3 .more {}

section .section .main3 .more ul {}

section .section .main3 .more ul li {}

section .section .main3 .more h2 {
    font-size: 22px;
    color: #cd0001;
    font-weight: normal;
}

section .section .main3 .more ul li p {}