@charset "utf-8";

/* CSS Document */

.wrapper {
    width: 1200px;
    margin: 0 auto;
}


/*header部分**************/

header {
    background: #fff;
}

header .header {
    display: flex;
    width: 1200px;
	height: 70px;
    justify-content: space-between;
}

header .header>a {
    background: pink;
    height: 50px;
}

header .header>a img {
    width: 175px;
    height: 68px;
    display: block;
}

header .header ul {
    display: flex;
}

header .header ul li {
    display: flex;
}


/* header .header ul li a {} */


/* header .header ul li a img {} */

.login_btn{
	padding-top: 20px
}
.login_btn ul li input {
    width: 60px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #d4d4d4;
	border-radius: 15px;
	color: #baac7b;
	background: #fff;
}


/* header .header ul li input:hover{

} */


/*nav部分********/

nav {
    background: #f00;
}


/* nav .nav {} */

nav .nav ul {
    display: flex;
}

nav .nav ul li {
    height: 50px;
    font: 20px/50px "";
    flex: 1;
}

nav .nav ul li:nth-last-of-type(5) a {
    color: rebeccapurple;
}

nav .nav ul li a {
    color: #fff;
}


/*section开始了************/

section {}

section .section {}


/* section .section .main1 开始了******************************************** */

section .section .main1 {
	width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
	overflow: hidden;
	height: 405px;
}

section .section .main1 .banner {
    position: relative;
    overflow: hidden;
    width: 720px;
}

section .section .main1 .banner ul {
    display: flex;
    height: 405px;
    width: 3600px;
}


/* section .section .banner ul li {} */

section .section .main1 .banner ul li img {
    /* width: 400px; */
    width: 720px;
    height: 405px;
    display: block;
}

section .section .main1 .banner .ctrl_box {
    width: 720px;
    position: absolute;
    top: 179px;
    display: flex;
    justify-content: space-between;
}

section .section .main1 .banner .ctrl_box span {
    float: left;
    color: #fff;
    width: 25px;
    height: 50px;
	border-radius: 5px;
    background: rgba(188, 143, 143, 0.664);
    text-align: center;
    font-size: 40px;
    cursor: pointer;
}
section .section .main1 .dl-box{
    width: 440px; 
	float: right;
}

section .section .main1 dl dt {
    color: #595855;
    font: 800 24px/36px "楷体";
}

section .section .main1 dl dd {
    color: #595855;
    font: 16px/30px "楷体";
}


/* section .section .main1 dl dd:hover {
    color: pink;
} */


/* section .section .main2 开始了******************************************** */

section .section .main2 {
    /* background: greenyellow; */
}

section .section .main2>ul {
    display: flex;
}

section .section .main2>ul>li {
    flex: 1;
    margin: 20px;
}

section .section .main2>ul>li h2 {
    color: #f00;
}


/* section .section .main2>ul>li p {}

section .section .main2>ul>li>ol {}

section .section .main2>ul>li>ol li {} */


/* section .section .main3 开始了******************************************** */

section .section .main3 {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    flex-flow: row wrap;
	overflow: hidden;
    /* align-items: center; */
}

section .section .main3 .minnav {
    display: flex;
    /* background: #ccc; */
    width: 1200px;
}

section .section .main3 .minnav li {
    width: 68px;
    height: 72px;
    text-align: center;
    line-height: 50px;
}

section .section .main3 .minnav li a {
    color: orange;
}

section .section .main3 .minnav li:nth-of-type(1) a {
    color: red;
    font-size: 30px;
}
section .section .main3 .photo .obt{
    width: 340px;
	height: 260px;
    overflow: hidden;
    position: relative;
}
.obt .imgTitle{
	font-size: 16px;
}
section .section .main3 .photo .obt ul{
     display: flex;
     height: 260px;
     width: 1500px;
     
}
section .section .main3 .photo .obt ul li img{
    width: 340px;
    height: 227px;
    float: left;
	border-radius: 2px;
}
section .section .main3 .photo .tpt{
    overflow: hidden;
}
.tpt .tPic{
    padding-top: 12px;
    margin-left: -4px;
}
.tpt .tPic li{
    width: 168px;
    float: left;
    margin-left: 4px;
    display: inline;
}
.tpt .tPic img{
    width: 168px;
	height: 112px;
	border-radius: 2px;
}
.tpt .tPic p{
	padding: 6px 10px 0 0;
    height: 40px;
    line-height: 20px;
    font-size: 14px;
    overflow: hidden;
}
section .section .main3 .photo .obt .ctrl_box {
    width: 300px;
    position: absolute;
    top: 80px;
    display: flex;
    justify-content: space-between;
}
section .section .main3 .photo .obt .ctrl_box span {
    float: left;
    color: #555;
    width: 20px;
    height: 50px;
    background: rgba(188, 143, 143, 0.664);
    text-align: center;
    font: 20px/50px "";
    cursor: pointer;
}
section .section .main3 .photo {
    /* background: chartreuse; */
}

section .section .main3 .photo li {
	
}

section .section .main3 .centerNews {
    margin: 0 20px;
    width: 340px;
    padding-left: 40px;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
}

section .section .main3 .rightNews {
    margin: 0 20px;
    width: 340px;
    padding-left: 40px;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
}

/* section .section .main3 .centerNews .new1 {} */

.centerNews .new1 dd,.rightNews .new2 dd {
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    overflow: hidden;
    padding-left: 15px;
    background-repeat: no-repeat;
    background-position: 0 -99px;
}

section .section .main3 .centerNews h2,.rightNews h2 {
    font-size: 24px;
    color: red;
    font-weight: normal;
	padding-bottom: 20px;
}


section .section .main3 .more {}

section .section .main3 .more ul {}

section .section .main3 .more ul li {}

section .section .main3 .more h2 {
    font-size: 22px;
    color: #cd0001;
    font-weight: normal;
}

section .section .main3 .more ul li p {}
