<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.sysuser.dao.SysUserArticleCarouselMapper">

    <!--通过封面图筛选新闻-->
    <select id="getArticleByCover" parameterType="com.qf.sysuser.pojo.ArticleInfo" resultType="com.qf.sysuser.pojo.ArticleInfo">
        select * from article  where status = 2 and cover is not null and state =0
        <if test="mainTitle != null and mainTitle != ''">
            and mainTitle like "%${mainTitle}%"
        </if>
    </select>

    <!--添加筛选新闻到轮播库-->
    <insert id="addToCarousel" parameterType="com.qf.sysuser.pojo.ArticleInfo">
       INSERT into article_carousel
       (articleId,areaId,userId,typeId,cover,mainTitle,subTitle,content,createTime,updateTime)
       VALUES
       (DEFAULT,#{areaId},#{userId},#{typeId},#{cover},#{mainTitle},#{subTitle},#{content},CURRENT_TIMESTAMP,CURRENT_TIMESTAMP)
    </insert>

    <!--已加入轮播的新闻将设置状态为1-->
    <update id="updateArticleState" parameterType="int">
        update article set state=1  where articleId = #{articleId}
    </update>


    <!--查询所有轮播新闻信息-->
    <select id="getAllArticleCarousel" resultType="com.qf.sysuser.pojo.ArticleCarousel">
        select * from article_carousel a,type t where  a.typeId=t.typeId
    </select>

    <!--查询最早添加的新闻id-->
    <select id="selectArticleId" resultType="com.qf.sysuser.pojo.ArticleCarousel">
        select articleId from article_carousel having min(createTime)
    </select>

    <!--根据这个id删除掉这条新闻信息-->
    <delete id="deleteArticleUseId" parameterType="int">
        delete from article_carousel where  articleId=#{articleId}
    </delete>

    <!--根据id查询轮播新闻详情信息-->
    <select id="getArticleCarouselById" parameterType="int" resultType="com.qf.sysuser.pojo.ArticleCarousel">
        select * from article_carousel  where   articleId=#{articleId}
    </select>

</mapper>