<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.sysuser.dao.ArticleInfoMapper">

    <!--根据文章id来改变文章的status(通过审核/不通过/下架)-->
     <update id="updateArticleStatus" parameterType="com.qf.sysuser.pojo.ArticleInfo">
            update article set status = #{status} ,updateTime=CURRENT_TIMESTAMP where articleId = #{articleId}
     </update>


    <!--获取所有待审核文章信息-->
    <select id="getAllArticleInfo" resultType="com.qf.sysuser.vo.ArticleInfoVO">
        select * from article a,type t where  a.typeId=t.typeId and a.status = 1
    </select>


    <!--根据文章id获取待审核文章详细信息-->
    <select id="getArticleInfoById" parameterType="int" resultType="com.qf.sysuser.vo.ArticleInfoVO">
        select * from article a,type t where  a.typeId=t.typeId and a.status = 1 and a.articleId=#{articleId}
    </select>

    <!--获取所有已通过审核文章信息-->
    <select id="getArticleInfo" resultType="com.qf.sysuser.vo.ArticleInfoVO">
        select * from article a,type t where  a.typeId=t.typeId and a.status = 2
    </select>


    <!--根据文章id获取已通过审核文章详细信息-->
    <select id="getArticleInfoBy" parameterType="int" resultType="com.qf.sysuser.vo.ArticleInfoVO">
        select * from article a,type t where  a.typeId=t.typeId and a.status = 2 and a.articleId=#{articleId}
    </select>

</mapper>