<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.news.dao.NewsArticleMapper">
    <select id="getMyArtByUserId" parameterType="com.qf.news.pojo.UserInfo" resultType="com.qf.news.pojo.ArticleInfo">
        select * from article where userId=#{userId} and status!=0
    </select>
    <select id="getMyDraftByUserId" parameterType="com.qf.news.pojo.UserInfo" resultType="com.qf.news.pojo.ArticleInfo">
        select * from article where userId=#{userId} and status=0
    </select>
    <delete id="deleteMyDraftByArticleId" parameterType="Long" >
        delete from article  where articleId=#{articleId}
    </delete>
    <select id="getcomNumAndLoveNum" parameterType="long" resultType="com.qf.news.vo.ArticleTypeVO">
         select comNum,articleLoveNum,tb1.* from
(SELECT COUNT(c.comId) comNum,a.* from article a LEFT JOIN
comment c on c.articleId=a.articleId  where a.articleId=#{articleId}) tb1
,(SELECT COUNT(la.articleId =#{articleId} ) articleLoveNum,la.articleId from love_article la ) tb2
    </select>

</mapper>