<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.news.dao.NewsMessageMapper">
<select id="getReadMessageByUserId" parameterType="Long" resultType="com.qf.news.vo.MessageVO">
    select m.*,u.nickName from message m left join userinfo u on u.userId=m.senderId
    where m.status=1 and m.userId=#{userId} order by mgeId desc
</select>
    <delete id="deleteReadMessageByMgeId" parameterType="Long">
        delete from message where  mgeId=#{mgeId}  order by mgeId desc
    </delete>
    
<select id="getUnreadMessageByUserId" resultType="com.qf.news.vo.MessageVO">
    select m.*,u.nickName from message m left join userinfo u on u.userId=m.senderId
        where m.status=0 and m.userId=#{userId}
</select>
    <update id="removeUnreadMessageByMgeId" parameterType="Long">
        update message set status=1 where mgeId=#{mgeId}
    </update>
    <insert id="sendMessageByReplyVO" parameterType="com.qf.news.vo.ReplyVO">
        insert into message (userId,senderId,mainTitle,content,createTime,status,repId,comId,mgeUrl)
        values (#{cuserId},#{userId},#{mainTitle},#{content},CURRENT_TIMESTAMP,0,#{repId},#{comId},#{mgeUrl})
    </insert>
    <insert id="sendSystemMessage" parameterType="com.qf.news.pojo.Message">
        insert into message (userId,senderId,mainTitle,content,createTime,status)
        values (#{userId},#{senderId},#{mainTitle},#{content},CURRENT_TIMESTAMP,0)
    </insert>

    <select id="getMessageByUserId" parameterType="int" resultType="com.qf.news.pojo.Message">
        SELECT m.* ,u.nickName as username FROM message m,userinfo u WHERE m.userId = #{userId} and m.senderId = u.userId
    </select>
</mapper>