<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.news.dao.NewsArticleInfoMapper">

<select id="getArticleAndLoveNumAndComNum" parameterType="Long" resultType="com.qf.news.vo.ArticleTypeVO">
SELECT tb1.*,b.articleLoveNum ,c.timeArticleLoveNum,d.timeComNum
 ,e.timeVisNum,f.visNum,g.articleCommentStatus from (
(SELECT a.*,
 IFNULL(la.status,0) articleLoveStatus,COUNT(c.comId) comNum
from article a LEFT JOIN love_article la on la.articleId=a.articleId
LEFT JOIN comment c on c.articleId=a.articleId
where a.articleId=#{param1}   ) tb1,
(SELECT COUNT(la.articleId) articleLoveNum from article a LEFT JOIN love_article la on la.articleId= a.articleId
where a.articleId=#{param1}  and la.status=1 ) b,
(SELECT COUNT(la.articleId) timeArticleLoveNum from article a LEFT JOIN love_article la on la.articleId= a.articleId
where a.articleId=#{param1}  and la.status=1 and la.updateTime >= now()-interval 15 day )c,
(select COUNT(comId) timeComNum from comment
where articleId=#{param1}  and createTime >= now()-interval 15 day)d,
(select COUNT(visitorId) timeVisNum from visitor
where articleId=#{param1}  and createTime >= now()-interval 15 day)e,
(select COUNT(visitorId) visNum from visitor
where articleId=#{param1}  and createTime >= now()-interval 15 day)f,
(SELECT
 IFNULL((SELECT IFNULL(c.articleId,0)
from collection c
where c.articleId=#{param1}  and c.userId=#{param2}  and c.`status`=1),0)
articleCommentStatus)g)
</select>
<update id="updateTimeHotByArticleId" parameterType="com.qf.news.vo.ArticleTypeVO">
    update article set hot=#{timeHot} where articleId=#{articleId}
</update>
    <!--根据articleId查询编辑的新闻显示到预览页面-->
    <select id="getReleaseInfoById" parameterType="int" resultType="com.qf.news.vo.ArticleInfoVO">
       select a.*,u.nickName,u.icon from article a left join userinfo u on u.userId=a.userId  where articleId=#{articleId}
    </select>

    <!--用户在前台输入新闻添加到数据库-->
    <insert id="commitArticle" parameterType="com.qf.news.pojo.ArticleInfo">
       INSERT into article
       (articleId,areaId,userId,typeId,mainTitle,subTitle,content,status,createTime,updateTime,state)
       VALUES
       (DEFAULT,#{areaId},#{userId},#{typeId},#{mainTitle},#{subTitle},#{content},#{status},CURRENT_TIMESTAMP,CURRENT_TIMESTAMP,#{state})
    </insert>

    <!--修改处于编辑未提交审核状态的新闻-->
    <update id="secondCommitArticle" parameterType="com.qf.news.pojo.ArticleInfo">
       update article set
       areaId=#{areaId},userId=#{userId},typeId=#{typeId},cover=#{cover},
       mainTitle=#{mainTitle},subTitle=#{subTitle},content=#{content},status=#{status},updateTime=CURRENT_TIMESTAMP
       where
       articleId=#{articleId}
    </update>


    <!--根据输入的新闻内容查询获取articleId-->
    <select id="getArticleInfoIdById" parameterType="com.qf.news.pojo.ArticleInfo" resultType="com.qf.news.pojo.ArticleInfo">
        select * from article where content=#{content}
    </select>

    <!--修改新闻状态-->
    <update id="updateStatus" parameterType="int">
        UPDATE article set status=1,updateTime=CURRENT_TIMESTAMP  where articleId=#{articleId}
    </update>

    <!--得到用户ip-->
    <update id="getIP" parameterType="com.qf.news.pojo.ArticleInfo">
       UPDATE article set userIp=#{userIp} where articleId=#{articleId}
    </update>
    <insert id="insertIP" parameterType="com.qf.news.pojo.ArticleInfo">
       insert into visitor  (userIp,userId,articleId,createTime)
        values (#{userIp},#{userId},#{articleId},CURRENT_TIMESTAMP)
    </insert>

    <!--得到封面图地址-->
    <update id="uploadCover" parameterType="com.qf.news.pojo.ArticleInfo">
        UPDATE article set cover=#{cover} where content=#{content}
    </update>
    <select id="getLoveArticleByArticleIdAndUserId"  parameterType="long" resultType="com.qf.news.pojo.LoveArticle">
        select * from love_article where userId=#{param1} and articleId=#{param2}
    </select>
    <insert id="addLoveArticle" parameterType="long">
         insert into love_article (userId,articleId,status,createTime,updateTime)
         values (#{param1},#{param2},1,CURRENT_TIMESTAMP,CURRENT_TIMESTAMP)
    </insert>
    <update id="updateLoveArticle" parameterType="com.qf.news.pojo.LoveArticle">
             update love_article
             <if test="status=='0'.toString()">
              set status=1,updateTime=CURRENT_TIMESTAMP
             </if>
        <if test="status!=null and status!=''and status=='1'.toString()">
            set status=0,updateTime=CURRENT_TIMESTAMP
        </if>
         where userId=#{userId} and articleId=#{userId}
    </update>

    <update id="uploadArticle">
        update article set areaId =#{areaId},typeId=#{typeId},mainTitle=#{mainTitle} ,subTitle=#{subTitle},content=#{content}
        where articleId = #{articleId}
    </update>

    <insert id="toReport" parameterType="com.qf.news.dto.ReportDTO">
        insert into report (userId,ruserId,artile,context,createTime)
        values(#{userId},#{ruserId},#{artile},#{context},CURRENT_TIMESTAMP)
    </insert>
</mapper>