<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.sysuser.dao.SysUserReportDao">

    <select id="getAllReport" resultType="com.qf.sysuser.vo.ReportVO">
        select u.nickName,r.context,a.mainTitle,r.createTime ,a.articleId from report r left join
        article a on r.artileId = a.articleId left join userinfo u on r.userId=u.userId where a.status=2
    </select>

</mapper>